
@{
    ViewData["Title"] = "Index";
}

<h2>Stocks</h2>

<table>
        <tr>
            <th>Symbol</th>
            <th>Last Price</th>
            <th>Volume</th>
        </tr>
        <tr>
            <td>FB</td>
            <td>1</td>
            <td>100</td>
        </tr>
        <tr>
            <td>TSLA</td>
            <td>2</td>
            <td>100</td>
        </tr>
</table>