@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Hello, Welcome to my web scraper</h2><br />
    <p>User must be logged in to scrape. If you do not have an account you must register.</p><br />
    <asp:Button id="scrapebtn" class="btn btn-success" OnClick="Scrape" runat="server">Scrape</asp:Button>
</div>
 